<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table id="dataTable" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Id
                </th>
                <th scope="col" class="px-6 py-3">
                    Clase
                </th>
                <th scope="col" class="px-6 py-3">
                    Usuario
                </th>
                <th scope="col" class="px-6 py-3">
                    Fecha Creacion
                </th>
                <th scope="col" class="px-6 py-3">
                    Estado
                </th>
                <th scope="col" class="px-6 py-3">
                    Fecha Estado
                </th>
            </tr>
        </thead>
        <tbody>
            <% if (!hasData) { %>
                <tr  class="bg-white border-b hover:bg-gray-50">
                    <th scope="row" colspan="6"
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        No se han encontrado registros
                    </th>
                </tr>
            <% } %>
            <% if (hasData) { %>
                <% for( let i=0; i < data.length; i++ ) { %>
                    <tr class="bg-white border-b hover:bg-gray-50">
                        <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            <%= data[i].id_marcacion %>
                        </td>
                        <td class="px-6 py-4">
                            <%= data[i].id_clase %> --> <%= data[i].dia %> | <%= data[i].hora_ingreso %>
                        </td>
                        <td class="px-6 py-4">
                            <%= data[i].username %>
                        </td>
                        <td class="px-6 py-4">
                            <%= utils.formatDate(data[i].fecha_hora_creacion) %>
                        </td>
                        <td class="px-6 py-4">
                            <div
                                class="<%= data[i].estado == 'M' ? 'bg-green-200 text-green-800' : 'bg-red-200 text-red-800' %> pr-2 pl-2 font-medium text-center rounded">
                                <%= data[i].estado=='M' ? 'MARCADO' : 'PENDIENTE' %>
                            </div>
                        </td>
                        <td class="px-6 py-4 text-right">
                            <%= utils.formatDate(data[i].fecha_hora_estado) %>
                        </td>
                    </tr>
                <% } %>
            <% } %>
        </tbody>
    </table>
    <div class="flex justify-between items-center p-4">
        <button id="prevPage" class="px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-600">Anterior</button>
        <span id="pageNumber" class="text-sm text-gray-500">Página 1</span>
        <button id="nextPage" class="px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-600">Siguiente</button>
    </div>
</div>