<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table id="dataTable" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Id
                </th>
                <th scope="col" class="px-6 py-3">
                    Username
                </th>
                <th scope="col" class="px-6 py-3">
                    Password
                </th>
                <th scope="col" class="px-6 py-3">
                    Estado
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Edit</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr  class="bg-white border-b bg-yellow-50">
                <form action="mrcsise-usuarios/insertar" method="post">
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    </td>
                    <td class="px-6 py-4">
                        <input class="border rounded p-1" type="text" value="" name="username" required>
                    </td>
                    <td class="px-6 py-4">
                        <input id="ch_password_mrcsise_usuario_0" class="border rounded p-1" type="password" value="" name="password" required>
                        <input type="checkbox" onclick="changeViewPassword('ch_password_mrcsise_usuario_0')">
                    </td>
                    <td class="px-6 py-4">
                        <!-- <div class="bg-gray-200 text-gray-800 pr-2 pl-2 font-medium text-center rounded">
                            ACTIVO
                        </div> -->
                    </td>
                    <td class="px-6 py-4 text-right">
                        <button type="submit" class="font-medium p-1 rounded hover:bg-gray-200 text-gray-700"><i class="bx bxs-save"></i></button>
                    </td>
                </form>
            </tr>
            <% if (!hasData) { %>
                <tr  class="bg-white border-b hover:bg-gray-50">
                    <th scope="row" colspan="5"
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        No se han encontrado registros
                    </th>
                </tr>
            <% } %>
            <% if (hasData) { %>
                
                <% for( let i=0; i < data.length; i++ ) { %>
                    <tr class="bg-white border-b hover:bg-gray-50">
                        <form action="mrcsise-usuarios/actualizar" method="post">
                            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <%= data[i].id_usuario %>
                                <input type="hidden" value="<%= data[i].id_usuario %>" name="idUsuario" required>

                            </td>
                            <td class="px-6 py-4">
                                <input class="border rounded p-1" type="text" value="<%= data[i].username %>" name="username" required>
                            </td>
                            <td class="px-6 py-4">
                                <input id="ch_password_mrcsise_usuario_<%= data[i].id_usuario %>" class="border rounded p-1" type="password" name="password" value="<%= data[i].password %>" required>
                                <input type="checkbox" onclick="changeViewPassword('ch_password_mrcsise_usuario_<%= data[i].id_usuario %>')">
                            </td>
                            <td class="px-6 py-4">
                                <div class="<%= data[i].estado_auditoria == '1' ? 'bg-green-200 text-green-800' : 'bg-red-200 text-red-800' %> pr-2 pl-2 font-medium text-center rounded">
                                    <input type="checkbox" name="estadoAuditoria" value="1" <%= data[i].estado_auditoria == '1' ? 'checked' : '' %>>
                                    <%= data[i].estado_auditoria == '1' ? 'ACTIVO' : 'INACTIVO' %>
                                </div>
                            </td>
                            <td class="px-6 py-4 text-right">
                                <button type="submit" class="font-medium p-1 rounded hover:bg-gray-200 text-gray-700"><i class="bx bxs-save"></i></button>
                            </td>
                        </form>
                    </tr> 
                <% } %>
            <% } %>
        </tbody>
    </table>
    <div class="flex justify-between items-center p-4">
        <button id="prevPage" class="px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-600">Anterior</button>
        <span id="pageNumber" class="text-sm text-gray-500">Página 1</span>
        <button id="nextPage" class="px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-600">Siguiente</button>
    </div>

</div>