<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table id="dataTable" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Id
                </th>
                <th scope="col" class="px-6 py-3">
                    Categoria
                </th>
                <th scope="col" class="px-6 py-3">
                    Nombre
                </th>
                <th scope="col" class="px-6 py-3">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b bg-yellow-100">
                <form id="formInsert">
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    </td>
                    <td class="px-6 py-4">
                        <select class="border rounded p-1" name="idCategoria" required>
                            <option value="">Seleccione una categoria</option>
                            <% for( let i=0; i < metadata.categorias.length; i++ ) { %>
                                <option value="<%= metadata.categorias[i].idCategoria %>"><%= metadata.categorias[i].nombre %></option>
                            <% } %>
                        </select>
                    </td>
                    <td class="px-6 py-4">
                        <input class="border rounded p-1" type="text" value="" name="nombre" required>
                    </td>
                    <td class="px-6 py-4 text-right">
                        <button type="button" class="font-medium p-1 rounded hover:bg-gray-200 text-gray-700" onclick="
                            try {
                                const form = document.getElementById('formInsert');

                                if (!form.checkValidity()) {
                                    form.reportValidity();
                                    return;
                                }
                                const data = {
                                    nombre: document.querySelector('input[name=nombre]').value,
                                    categoria: {
                                        idCategoria: document.querySelector('select[name=idCategoria]').value
                                    }
                                };
    
                                fetch('/api/v1/subcategorias', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify(data)
                                })
                                .then(response => {
                                    if (!response.ok) throw new Error('Error al guardar los datos');
                                    return response.json();
                                })
                                .then(result => {
                                    if (result.success) {
                                        alert('Datos guardados exitosamente');
                                        window.location.reload();
                                    } else {
                                        alert('Error: ' + result.message);
                                    }
                                }).catch(error => {
                                    console.error('Error:', error);
                                    alert('Ocurrió un error al guardar los datos');
                                });
                            } catch (error) {
                                console.error('Error:', error);
                                alert('Ocurrió un error al guardar los datos');
                            }
                        "><i class="text-xl bx bxs-save "></i></button>
                    </td>
                </form>
                
            </tr>
            <% if (!hasData) { %>
                <tr
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" colspan="11"
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        No se han encontrado registros
                    </th>
                </tr>
            <% } %>
            <% if (hasData) { %>
                <% for( let i=0; i < data.length; i++ ) { %>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            <%= data[i].idSector %>
                        </td>
                        <td class="px-6 py-4">
                            <%= data[i].categoria.nombre %>
                        </td>
                        <td class="px-6 py-4">
                            <%= data[i].nombre %>
                        </td>
                        <td class="px-6 py-4">
                            <!-- <button type="button" class="font-medium p-1 rounded hover:bg-gray-200 text-gray-700"><i class="text-red-500 bx bxs-trash"></i></button> -->
                        </td>
                    </tr>
                <% } %>
            <% } %>
        </tbody>
    </table>


</div>